<%= form_with(model: [:admin, product_variant], class: "contents") do |form| %>
  <% if product_variant.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3">
      <h2><%= pluralize(product_variant.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul class="list-disc ml-6">
        <% product_variant.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset class="fieldset mt-8">
    <legend class="fieldset-legend">Product Variant Details</legend>

    <div class="grid grid-cols-2 gap-x-6 gap-y-4 mt-4 w-1/2">
      <%= form.label :active, class: "label" %>
      <%= form.check_box :active, class: "toggle toggle-primary toggle-lg" %>

      <%= form.label :name, "Name (required)", class: "label" %>
      <%= form.text_field :name, class: "input" %>

      <%= form.label :sku, "SKU (required)", class: "label" %>
      <%= form.text_field :sku, class: "input" %>

      <%= form.label :price, "Price (required)", class: "label" %>
      <%= form.number_field :price, class: "input" %>

      <%= form.label :image, "Product Variant Image", class: "label" %>
      <%= form.file_field :image, class: "file-input" %>
    </div>
  </fieldset>

  <fieldset class="fieldset my-8">
    <legend class="fieldset-legend">Product Specifications</legend>

    <div class="grid grid-cols-2 gap-x-6 gap-y-4 mt-4 w-1/2">
      <%= form.label :width_in_mm, "Width (mm)", class: "label" %>
      <%= form.number_field :width_in_mm, class: "input" %>

      <%= form.label :height_in_mm, "Height (mm)", class: "label" %>
      <%= form.number_field :height_in_mm, class: "input" %>

      <%= form.label :depth_in_mm, "Depth (mm)", class: "label" %>
      <%= form.number_field :depth_in_mm, class: "input" %>

      <%= form.label :weight_in_g, "Weight (g)", class: "label" %>
      <%= form.number_field :weight_in_g, class: "input" %>

      <%= form.label :volume_in_ml, "Volume (ml)", class: "label" %>
      <%= form.number_field :volume_in_ml, class: "input" %>

      <%= form.label :diameter_in_mm, "Diameter (mm)", class: "label" %>
      <%= form.number_field :diameter_in_mm, class: "input" %>
    </div>
  </fieldset>

  <div class="inline mt-8 flex justify-end">
    <%= link_to "Back to products", admin_product_path(product_variant.product), class: "btn btn-secondary btn-outline" %>
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>