<div class="breadcrumbs text-sm text-base-content/70">
  <% if @product.present? %>
    <ul>
      <li><%= link_to "All Products", shop_path %></li>
      <li><%= link_to @product.category.name, category_path(@product.category) %></li>
      <li><%= @product.name %></li>
    </ul>
  <% end %>

  <% if @category.present? %>
    <ul>
      <li><%= link_to "All Products", shop_path %></li>
      <li><%= @category.name %></li>
    </ul>
  <% end %>
</div>