<!-- Category Sub-Navigation -->
<div class="bg-base-200 border-b border-base-300 hidden lg:block">
  <div class="container mx-auto px-4 flex justify-center">
    <ul class="menu menu-horizontal gap-1 py-2">
      <li>
        <%= link_to category_path('cups-and-lids'), class: "text-lg font-medium flex items-center gap-2" do %>
          <%= vite_image_tag 'images/graphics/cold-cups.svg', class: "w-6 h-6 object-contain #{current_page?(category_path('cups-and-lids')) ? 'brightness-150 hue-rotate-90' : ''}", alt: 'Cups & Lids icon' %>
          <span class="<%= current_page?(category_path('cups-and-lids')) ? 'text-accent' : '' %>">Cups & Lids</span>
        <% end %>
      </li>
      <li>
        <%= link_to category_path('ice-cream-cups'), class: "text-lg font-medium flex items-center gap-2" do %>
          <%= vite_image_tag 'images/graphics/ice-cream-cups.svg', class: "w-6 h-6 object-contain #{current_page?(category_path('ice-cream-cups')) ? 'brightness-150 hue-rotate-90' : ''}", alt: 'Ice Cream Cups icon' %>
          <span class="<%= current_page?(category_path('ice-cream-cups')) ? 'text-accent' : '' %>">Ice Cream Cups</span>
        <% end %>
      </li>
      <li>
        <%= link_to category_path('napkins'), class: "text-lg font-medium flex items-center gap-2" do %>
          <%= vite_image_tag 'images/graphics/napkins.svg', class: "w-6 h-6 object-contain #{current_page?(category_path('napkins')) ? 'brightness-150 hue-rotate-90' : ''}", alt: 'Napkins icon' %>
          <span class="<%= current_page?(category_path('napkins')) ? 'text-accent' : '' %>">Napkins</span>
        <% end %>
      </li>
      <li>
        <%= link_to category_path('pizza-boxes'), class: "text-lg font-medium flex items-center gap-2" do %>
          <%= vite_image_tag 'images/graphics/pizza-boxes.svg', class: "w-6 h-6 object-contain #{current_page?(category_path('pizza-boxes')) ? 'brightness-150 hue-rotate-90' : ''}", alt: 'Pizza Boxes icon' %>
          <span class="<%= current_page?(category_path('pizza-boxes')) ? 'text-accent' : '' %>">Pizza Boxes</span>
        <% end %>
      </li>
      <li>
        <%= link_to category_path('straws'), class: "text-lg font-medium flex items-center gap-2" do %>
          <%= vite_image_tag 'images/graphics/straws.svg', class: "w-6 h-6 object-contain #{current_page?(category_path('straws')) ? 'brightness-150 hue-rotate-90' : ''}", alt: 'Straws icon' %>
          <span class="<%= current_page?(category_path('straws')) ? 'text-accent' : '' %>">Straws</span>
        <% end %>
      </li>
      <li>
        <%= link_to category_path('takeaway-containers'), class: "text-lg font-medium flex items-center gap-2" do %>
          <%= vite_image_tag 'images/graphics/kraft-food-containers.svg', class: "w-6 h-6 object-contain #{current_page?(category_path('takeaway-containers')) ? 'brightness-150 hue-rotate-90' : ''}", alt: 'Takeaway Containers icon' %>
          <span class="<%= current_page?(category_path('takeaway-containers')) ? 'text-accent' : '' %>">Takeaway Containers</span>
        <% end %>
      </li>
      <li>
        <%= link_to category_path('takeaway-extras'), class: "text-lg font-medium flex items-center gap-2" do %>
          <%= vite_image_tag 'images/graphics/take-away-extras.svg', class: "w-6 h-6 object-contain #{current_page?(category_path('takeaway-extras')) ? 'brightness-150 hue-rotate-90' : ''}", alt: 'Takeaway Extras icon' %>
          <span class="<%= current_page?(category_path('takeaway-extras')) ? 'text-accent' : '' %>">Takeaway Extras</span>
        <% end %>
      </li>
    </ul>
  </div>
</div>
