<footer class="mt-24 bg-afida-green footer sm:footer-horizontal text-base-content p-10">
  <nav>
    <h6 class="footer-title">Services</h6>
    <%= link_to "Branding", branding_path, class: "link link-hover" %>
    <%= link_to "Samples", samples_path, class: "link link-hover" %>
  </nav>
  <nav>
    <h6 class="footer-title">Company</h6>
    <%= link_to "About us", about_path, class: "link link-hover" %>
    <%= link_to "Contact", contact_path, class: "link link-hover" %>
  </nav>
  <nav>
    <h6 class="footer-title">Help & Support</h6>
    <%= link_to "FAQs", faqs_path, class: "link link-hover" %>
    <%= link_to "Contact", contact_path, class: "link link-hover" %>
  </nav>
  <nav>
    <h6 class="footer-title">Legal</h6>
    <%= link_to "Terms of use", terms_path, class: "link link-hover" %>
    <%= link_to "Privacy policy", privacy_path, class: "link link-hover" %>
  </nav>
</footer>

<footer class="bg-afida-green footer text-base-content border-base-300 border-t px-10 py-4">
  <aside class="grid-flow-col items-center">
    <%= render "shared/logo" %>
    <p>
      Afida &copy; <%= Date.current.year %>
      <br />
      Providing awesome bamboo technology since 1992.
    </p>
  </aside>
  <nav class="md:place-self-center md:justify-self-end">
    <div class="grid grid-flow-col gap-4">
      <a href="https://www.linkedin.com/company/afidasupplies" target="blank">
        <span class="sr-only">LinkedIn</span>
        <svg
            class="h-6 w-6"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            aria-hidden="true"
            viewBox="0 0 448 512">
          <path
              d="M100.3 448H7.4V148.9h92.9zM53.8 108.1C24.1 108.1 0 83.5 0 53.8a53.8 53.8 0 0 1 107.6 0c0 29.7-24.1 54.3-53.8 54.3zM447.9 448h-92.7V302.4c0-34.7-.7-79.2-48.3-79.2-48.3 0-55.7 37.7-55.7 76.7V448h-92.8V148.9h89.1v40.8h1.3c12.4-23.5 42.7-48.3 87.9-48.3 94 0 111.3 61.9 111.3 142.3V448z" />
        </svg>
      </a>
      <a href="https://www.instagram.com/afidasupplies" target="blank">
        <svg class="h-6 w-6" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
          <path fill-rule="evenodd" d="M12.315 2c2.43 0 2.784.013 3.808.06 1.064.049 1.791.218 2.427.465a4.902 4.902 0 011.772 1.153 4.902 4.902 0 011.153 1.772c.247.636.416 1.363.465 2.427.048 1.067.06 1.407.06 4.123v.08c0 2.643-.012 2.987-.06 4.043-.049 1.064-.218 1.791-.465 2.427a4.902 4.902 0 01-1.153 1.772 4.902 4.902 0 01-1.772 1.153c-.636.247-1.363.416-2.427.465-1.067.048-1.407.06-4.123.06h-.08c-2.643 0-2.987-.012-4.043-.06-1.064-.049-1.791-.218-2.427-.465a4.902 4.902 0 01-1.772-1.153 4.902 4.902 0 01-1.153-1.772c-.247-.636-.416-1.363-.465-2.427-.047-1.024-.06-1.379-.06-3.808v-.63c0-2.43.013-2.784.06-3.808.049-1.064.218-1.791.465-2.427a4.902 4.902 0 011.153-1.772A4.902 4.902 0 015.45 2.525c.636-.247 1.363-.416 2.427-.465C8.901 2.013 9.256 2 11.685 2h.63zm-.081 1.802h-.468c-2.456 0-2.784.011-3.807.058-.975.045-1.504.207-1.857.344-.467.182-.8.398-1.15.748-.35.35-.566.683-.748 1.15-.137.353-.3.882-.344 1.857-.047 1.023-.058 1.351-.058 3.807v.468c0 2.456.011 2.784.058 3.807.045.975.207 1.504.344 1.857.182.466.399.8.748 1.15.35.35.683.566 1.15.748.353.137.882.3 1.857.344 1.054.048 1.37.058 4.041.058h.08c2.597 0 2.917-.01 3.96-.058.976-.045 1.505-.207 1.858-.344.466-.182.8-.398 1.15-.748.35-.35.566-.683.748-1.15.137-.353.3-.882.344-1.857.048-1.055.058-1.37.058-4.041v-.08c0-2.597-.01-2.917-.058-3.96-.045-.976-.207-1.505-.344-1.858a3.097 3.097 0 00-.748-1.15 3.098 3.098 0 00-1.15-.748c-.353-.137-.882-.3-1.857-.344-1.023-.047-1.351-.058-3.807-.058zM12 6.865a5.135 5.135 0 110 10.27 5.135 5.135 0 010-10.27zm0 1.802a3.333 3.333 0 100 6.666 3.333 3.333 0 000-6.666zm5.338-3.205a1.2 1.2 0 110 2.4 1.2 1.2 0 010-2.4z" clip-rule="evenodd" />
        </svg>
      </a>
    </div>
  </nav>
</footer>

<% content_for :head do %>
  <script type="application/ld+json">
    <%= raw organization_structured_data %>
  </script>
<% end %>