<div class="navbar bg-base-100 shadow-sm px-4 md:px-6 lg:px-24">
  <div class="navbar-start">
    <div class="dropdown lg:hidden">
      <div tabindex="0" role="button" class="btn btn-ghost">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"> <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" /> </svg>
      </div>
      <ul
        tabindex="0"
        class="menu menu-sm dropdown-content bg-base-100 rounded-box z-[1] mt-3 w-52 p-2 shadow">
        <li class="text-lg font-medium"><%= link_to "Shop", shop_path, class: current_page?(shop_path) ? "text-accent" : "" %></li>
        <li class="text-lg font-medium"><%= link_to "Branding", branding_path, class: current_page?(branding_path) ? "text-accent" : "" %></li>
        <li class="text-lg font-medium"><%= link_to "Samples", samples_path, class: current_page?(samples_path) ? "text-accent" : "" %></li>
      </ul>
    </div>
    <ul class="menu menu-horizontal px-1 hidden lg:flex">
      <li class="text-lg font-medium"><%= link_to "Shop", shop_path, class: current_page?(shop_path) ? "text-accent" : "" %></li>
      <li class="text-lg font-medium"><%= link_to "Branding", branding_path, class: current_page?(branding_path) ? "text-accent" : "" %></li>
      <li class="text-lg font-medium"><%= link_to "Samples", samples_path, class: current_page?(samples_path) ? "text-accent" : "" %></li>
    </ul>
  </div>
  
  <div class="navbar-center">
    <%= link_to root_path do %>
      <%= render "shared/logo" %>
    <% end %>
  </div>

  <div class="navbar-end">
    <%= render "shared/basket_counter" %>

    <div class="dropdown dropdown-end">
      <% if authenticated? %>
          <div tabindex="0" role="button" class="hover:cursor-pointer avatar avatar-placeholder">
            <div class="bg-neutral text-neutral-content w-10 rounded-full">
              <span class="text-xl"><%= Current.user.initials %></span>
            </div>
          </div>
        <ul
          tabindex="0"
          class="menu menu-sm dropdown-content bg-base-100 rounded-box z-[1] mt-3 w-52 p-2 shadow">
          <% if Current.user&.admin? %>
            <li><%= link_to "Admin Panel", "/admin" %></li>
          <% end %>
          <li><%= link_to "Orders", orders_path %></li>
          <li><%= button_to "Logout", session_path, method: :delete %></li>
        </ul>
      <% else %>
        <div class="flex items-center space-x-2">
          <%= link_to "Sign In", new_session_path, class: "btn btn-primary btn-sm" %>
          <%= link_to "Sign Up", new_registration_path, class: "btn btn-primary btn-sm" %>
        </div>
      <% end %>
    </div>
  </div>
</div>