<div class="card shadow-sm bg-base-100"
     data-controller="product-card-hover"
     data-action="mouseenter->product-card-hover#mouseenter mouseleave->product-card-hover#mouseleave">
  <figure class="max-w-[600px] max-h-[600px] bg-base-200">
    <%= link_to product_path(product), class: "w-full h-full" do %>
      <div class="product-image-container">
        <% if product.product_photo.attached? %>
          <%= image_tag product.product_photo.variant(resize_to_limit: [400, 400]),
                        alt: product.name,
                        class: "product-image",
                        data: { product_card_hover_target: "productPhoto" } %>
        <% end %>

        <% if product.lifestyle_photo.attached? %>
          <%= image_tag product.lifestyle_photo.variant(resize_to_limit: [400, 400]),
                        alt: "#{product.name} lifestyle",
                        class: "product-image product-image-overlay",
                        data: { product_card_hover_target: "lifestylePhoto" } %>
        <% end %>

        <% unless product.product_photo.attached? || product.lifestyle_photo.attached? %>
          <div class="w-full h-[400px] lg:h-[400px] bg-gray-200 shadow-md flex items-center justify-center">
            <span class="text-gray-500">Image not available</span>
          </div>
        <% end %>
      </div>
    <% end %>
  </figure>
  <div class="card-body text-center">
    <h2 class="card-title justify-center">
      <%= link_to product_path(product), class: "text-xl font-medium" do %>
        <%= product.name %>
      <% end %>
    </h2>
    <% if product.featured? %>
      <div class="badge badge-secondary absolute top-2 right-2 z-10">FEATURED</div>
    <% end %>
  </div>
</div>