<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
  <% @products.each do |product| %>
    <%= link_to product_path(product) do %>
      <div class="card bg-base-100 shadow-sm">
        <figure class="max-w-[600px] max-h-[600px]">
          <% if product.image.attached? %>
            <%= image_tag product.image.variant(resize_to_fill: [600, 600]), class: "w-full h-full object-cover rounded-lg shadow-md", alt: product.name %>
          <% else %>
            <div class="w-full h-[400px] lg:h-[600px] bg-gray-200 shadow-md flex items-center justify-center">
              <span class="text-gray-500">Image not available</span>
            </div>
          <% end %>
        </figure>
        <div class="card-body">
          <h2 class="card-title">
            <%= product.name %>
        </h2>
        <div class="badge badge-secondary"><%= ["NEW", "FEATURED", "BEST SELLER"].sample %></div>
        <p><%= product.description %></p>
        <div class="card-actions justify-end">
          <div class="badge badge-outline">£<%= product.price %></div>
        </div>
      </div>
    </div>
    <% end %>
  <% end %>
</div>
