<% content_for :title, "#{@product.name} | #{@product.category.name}" %>

<div class="container mx-auto py-8 min-h-screen">
  <div class="card lg:card-side bg-base-100 shadow-sm">
    <figure class="lg:w-1/2">
      <% if @product.image.attached? %>
        <%= image_tag @product.image.variant(resize_to_limit: [400, 400]), alt: @product.name %>
      <% else %>
        <div class="w-full h-[400px] lg:h-[600px] bg-gray-200 rounded-lg shadow-md flex items-center justify-center">
          <span class="text-gray-500">Image not available</span>
        </div>
      <% end %>
    </figure>
    <div class="card-body">
      <h2 class="card-title text-3xl lg:text-4xl"><%= @product.name %></h2>
      <p class="text-2xl lg:text-3xl font-semibold text-secondary"><%= number_to_currency @product.price %></p>

      <div class="card-actions justify-center space-x-3 my-4" x-data="{ quantity: 1 }">
        <div class="join">
          <button class="btn btn-square btn-primary btn-lg" @click="quantity = Math.max(1, quantity - 1)">-</button>
          <input type="text" x-model="quantity" class="font-mono input input-lg w-12 text-center" />
          <button class="btn btn-square btn-primary btn-lg" @click="quantity = quantity + 1">+</button>
        </div>

        <div>
          <%= form_with url: cart_cart_items_path, method: :post, class: "w-full", local: false do |f| %>
            <%= f.hidden_field :product_slug, name: "cart_item[product_slug]", value: @product.slug %>
            <input type="hidden" name="cart_item[quantity]" x-bind:value="quantity" />
            <%= f.submit "Add to basket", class: "btn btn-primary btn-lg" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>