<div class="navbar bg-red-400 shadow-sm">
  <div class="flex-1">
    <%= link_to root_path, class: "btn btn-ghost" do %>
      <%= render "shared/logo" %>
    <% end %>
  </div>
  <div class="flex items-center gap-2">
    <% if authenticated? %>
      <span class="text-sm">Hello, <%= Current.user.email_address %></span>
      <%= button_to "Sign Out", session_path, method: :delete, class: "btn btn-outline btn-sm" %>
    <% else %>
      <%= link_to "Sign In", new_session_path, class: "btn btn-outline btn-sm" %>
      <%= link_to "Sign Up", new_registration_path, class: "btn btn-outline btn-sm" %>
    <% end %>
  </div>
</div>