<!DOCTYPE html>
<html class="h-full bg-emerald-300 text-gray-100">
  <head>
    <title><%= content_for(:title) || "Admin" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="h-full">
    <%= tag.div notice, class: "alert alert-info", data: { turbo_temporary: true } if notice %>
    <%= tag.div alert, class: "alert alert-error", data: { turbo_temporary: true } if alert %>

    <%= render "shared/navbar" %>

    <main class="container mx-auto p-5">
      <%= yield %>
    </main>

    <script src="//unpkg.com/alpinejs" defer></script>
  </body>
</html>
