<!DOCTYPE html>
<html class="h-full bg-base-100 text-base-content" data-theme="light">
  <head>
    <title><%= content_for(:title) %></title>
    <meta name="description" content="<%= content_for(:meta_description) %>">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%= vite_client_tag if Rails.env.development? %>
    <%= vite_javascript_tag "application" %>
    <%= vite_stylesheet_tag "application" %>

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
  </head>

  <body class="flex flex-col h-screen">
    <%= tag.div notice, class: "alert alert-info", data: { turbo_temporary: true } if notice %>
    <%= tag.div alert, class: "alert alert-error", data: { turbo_temporary: true } if alert %>

    <%= render "shared/navbar" %>
    <%= render "shared/category_nav" %>

    <main class="container mx-auto p-5 flex-grow">
      <%= yield :breadcrumbs %>
      <%= yield %>
    </main>

    <%= render "shared/logo_conveyor" %>
    <%= render "shared/footer" %>

    <script src="//unpkg.com/alpinejs" defer></script>
  </body>
</html>
