<!DOCTYPE html>
<html class="h-full bg-base-100 text-base-content" data-theme="light">
  <head>
    <title><%= content_for(:title) || "Afida Shop" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%= vite_client_tag %>
    <%= vite_javascript_tag "application" %>
    <%= vite_stylesheet_tag "application" %>
  </head>

  <body class="flex flex-col h-screen">
    <%= tag.div notice, class: "alert alert-info", data: { turbo_temporary: true } if notice %>
    <%= tag.div alert, class: "alert alert-error", data: { turbo_temporary: true } if alert %>

    <div class="bg-accent text-neutral text-xs flex justify-center py-2 font-mono font-bold uppercase">
      Free delivery on all mainland UK orders over £100 excl. VAT
    </div>

    <%= render "shared/navbar" %>


    <main class="container mx-auto p-5 flex-grow">
      <%= yield %>
    </main>

    <%= render "shared/footer" %>

    <script src="//unpkg.com/alpinejs" defer></script>
  </body>
</html>
