<!DOCTYPE html>
<html class="h-full bg-base-100 text-base-content" data-theme="light">
  <head>
    <title><%= content_for(:title) || "Afida Shop" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="flex flex-col h-screen">
    <%= tag.div notice, class: "alert alert-info", data: { turbo_temporary: true } if notice %>
    <%= tag.div alert, class: "alert alert-error", data: { turbo_temporary: true } if alert %>

    <%= render "shared/navbar" %>

    <main class="container mx-auto p-5 flex-grow">
      <%= yield %>
    </main>

    <footer class="bg-base-200 min-h-32 items-center p-4 border-t border-b border-base-300">
      <div class="flex justify-around items-center">
        <div>
          <img src="https://placehold.co/150x50/black/white?text=dpd+local" alt="dpd local" class="h-12">
        </div>

        <div>
          <img src="https://placehold.co/150x50/black/white?text=Trust+Pilot" alt="Trust Pilot" class="h-12">
        </div>

        <div>
          <img src="https://placehold.co/150x50/black/white?text=Google+Reviews" alt="Google Reviews" class="h-12">
        </div>
      </div>
    </footer>

    <%= render "shared/footer" %>

    <script src="//unpkg.com/alpinejs" defer></script>
  </body>
</html>
